<!-- People -->
<div class="table-container mat-elevation-z8"> 
    <h3 class="table-name">Friends</h3>
    <div class="table-header" *ngIf="filter">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Find">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
      
      <!-- Weight Column -->
      <ng-container matColumnDef="_id" id="_id">
        <mat-header-cell *matHeaderCellDef> On/Off </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class="fas fa-circle" *ngIf="true" style="color:green"></i>
          <i class="fas fa-circle" *ngIf="false" style="color:red"></i>
        </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="photoUrl" id="photoUrl">
        <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
        <mat-cell *matCellDef="let element"> <img [src]="element.photoUrl" alt="" class="listImage"></mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="username" >
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"id="username">{{element.username}} </mat-cell>
      </ng-container>
  

      <!-- Symbol Column -->
      <ng-container matColumnDef="status" id="status">
        <mat-header-cell *matHeaderCellDef> Chat </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button *ngIf="element.status == 'friend'" mat-icon-button color="basic" class="stateButton" ><i class="fas fa-comment"></i></button>
            <button *ngIf="element.status == 'recieve'" mat-button color="warn" class="stateButton" (click) ="acceptFriend(element._id)">Accept</button>
            <button *ngIf="element.status == 'request'" mat-button color="accent" class="stateButton" disabled>Requested</button>            
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>