/* Structure */
.table-container {
    display: flex;
    flex-direction: column;
    /* min-width: 00px; */
  }

.table-name {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0 16px;
    background-color: gray;
    color: white;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.table-header {
    min-height: 64px;
    padding: 8px 24px 0;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-table {
    overflow: auto;
    min-height: 280px;
    max-height: 300px;
}

.listImage {
    width:40px;
    height: 40px;
}

.stateButton {
    font-size: 10px;
    margin-left: -20px;
    width:100px;
}
.fa-comment{
    color:green;
    font-size: 20px;
}
#_id{
    margin-left: 0;
}

#photoUrl{
    margin: 0;
}
#username{
    font-size: 12px;
    font-weight: 500;
    padding:0;  
}

@media only screen and (max-width: 798px) {
    
}

@media screen and (min-width: 798px) {
    
  

}