<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="modalOn" (click)="close($event,'out')" >

  <!-- <div *ngIf="!auth.user | async; "></div> -->
   <!-- Modal content -->
  <!-- <ng-template #guest> -->
    <div class="modal-content"  (click)="close($event,'in')" >
      <button class="auth" id="google" (click)="auth.googleLogin()"><i class="fab fa-google"></i> Sign up with Google</button> 
      <button class="auth" id="facebook" (click)="auth.facebookLogin()" ><i class="fab fa-facebook"></i> Sign up with Facebook</button>
      <button class="auth" id="twitter"(click)="auth.twitterLogin()" ><i class="fab fa-twitter"></i>Sign up with Twitter</button> 
     </div>
  <!-- </ng-template>    -->
</div>



