<div class="notification-container">
  <div class="wrapper">
    <nav>
        <button  class="nav-button-remove" (click)="removeAll()"><i class="far fa-trash-alt"></i> ALL</button> 
        <button  class="nav-button-read" (click)="readAll()"><i class="fas fa-eye"></i> All</button>  
    </nav>
    <div class="message-container">
        <ul>
            <li *ngIf="messages.length == 0" style="text-align:center">
                No Messages
            </li>
            <li *ngFor="let message of messages; trackBy: trackNotification"  
                (click)="listClick($event, message)"
                [ngClass]="message.read ? 'readWhite' :'readBlue'">
                <div class="list-contents">
                    <div *ngIf="message.type == FREIND_ACCEPT|| message.type == FREIND_REQUEST">
                        <div class="message ">
                            <p> <img class="profile-image" [src]="message.from | imgUrl"> <span>{{message.from | name }}</span> {{message.message}}</p>
                            <button mat-icon-button class="deleteOne" (click)="deleteMessage(message.to ,message._id)"><i class="fas fa-times" ></i></button>
                            <i class="fas fa-angle-down" ></i> 
                        </div>
                        <div class="hidden-message" (click)="stopPropagation($event)">
                            <p *ngIf="message.type == FREIND_REQUEST"> Check your friends list. <button mat-raised-button color="accent"> GO </button></p>
                            <p *ngIf="message.type == FREIND_ACCEPT"><button mat-raised-button color="warn" (click)="deleteMessage(message.to ,message._id);">CHAT</button></p> 
                        </div>
                    </div>
                    <div *ngIf="message.type == GREETING_MESSAGE">
                        <div class="message">
                            <p>Welcome {{message.to | name}}.</p>
                            <button mat-icon-button class="deleteOne" (click)="deleteMessage(message.to ,message._id)"><i class="fas fa-times" ></i></button>
                            <i class="fas fa-angle-down" ></i> 
                        </div>
                        <div class="hidden-message" (click)="stopPropagation($event)">
                            <p>{{message.message}}</p> 
                        </div>
                    </div>           
                </div>
            </li>
        </ul>
    </div>
      
  </div> 
<div>
