<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="search($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Users">
      <mat-header-cell *matHeaderCellDef> USERS </mat-header-cell>
      <mat-cell *matCellDef="let element"> <img [src]="element.photoUrl" class="smallImage"> </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="State">
      <mat-header-cell *matHeaderCellDef> STATE </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="openModal(element)" > CLICK </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<!-- <profile-modal [(modal)]="modalOn" (notify)='closeModal($event)' [data]="clickedUser"></profile-modal> -->
