<header>
  <div>
    <div class="header-wrapper">
        <h1 class="title">NAKY : STUDENT MESSEGING SERVICE</h1>
        <h4 class="description">Kyeongho Na's Portfolio</h4>
        <button mat-raised-button (click)="start()">START</button>
    </div>
  </div>
</header>
<div class="home-container">
  <!--  -->
  <div class="content-first">
      <div class="wrapper">
        <div class="imac-container">
            <div class="monitor">
              <div class="browser">
              </div>
              <div class="monitor-bottom"></div>
              <div class="monitor-brand"><i class="fab fa-apple"></i></div>
              <div class="trapezoid-top"></div>
              <div class="trapezoid-bottom"></div>
            </div>
          </div>
      </div>
      <div class="wrapper disapear">
        <div class="intro-container">
            <h2>STACK</h2>
            <p><i class="fab fa-angular"></i> ANGULAR : ANGULAR CLI was used for SPA</p>
            <p><i class="fab fa-node"></i> EXPESS : A Sever-side javascript Framewok was used for backend</p>
            <p><i class="fab fa-envira"></i> MONGODB : MONGODB & MONGOOSE were used for primay database</p>
            <p><i class="fas fa-database"></i> REDIS : In-memory database was used as seconday database for caching chat data</p>
            <p>SOCKET.IO : javascript library for realtime comunication was used for live chat and notifications</p>
            
      </div>
  </div>
  <!--  -->
  <div class="content-second">
      <div class="wrapper"></div>
      <div class="wrapper"></div>
  </div>
  
</div>
<footer class="footer">
  <p class="copyright">©Copyright 2018. Powered by <span class="copyright-name">Kyeongho Na</span></p>
</footer>
<login-modal [(modal)]="modalOn" (notify)='closeModal($event)'></login-modal>


