<div  #scrollContainer  [(scrollTop)] = "scroll" class="chat-container">
<!--     
            <p>dddasd</p>
            <button (click)="test()">test</button>  -->

            <h1>Socket.io</h1>
            <label for="name">Say:</label>
            <input type="text" id="name" #newInfo>
            <button #button (click)="send(newInfo)">Say Hello</button>
            <ul>
                <li *ngFor=" let info of information">Room: {{info.room}}, Chat: {{info.chat}} </li>                
            </ul>

</div>



