<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="modalOn" (click)="close($event,'out')" >
 
<div class="modal-content" (click)="close($event,'in')">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{data.username}}</mat-card-title>
      <mat-card-subtitle>Email: {{data.email}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image id="profile-image" [src]="data.photoUrl">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf= "!buttonState || buttonState ==''" mat-button (click)="addFriend()"> Add </button>
      <button *ngIf= " buttonState =='me'" mat-button disabled> Me </button>
      <button *ngIf= "buttonState == 'request'" mat-button disabled> Requested </button>
      <button *ngIf= "buttonState == 'recieve'" mat-button (click)="acceptFriend()"> Accept </button>
      <button *ngIf= "buttonState == 'friend'" mat-button (click)="chat()"> Chat </button>
      <button mat-button (click)="close($event,'out')">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>

</div>      
