.modal {
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 300px;
    width: 20%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
   
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.example-card {
    /* display: block; */
    margin-top:20px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-align: center;
}

mat-card-title, mat-card-subtitle{
    text-align: left;
}

  
@media only screen and (max-width: 798px) {
    .modal-content {
        background-color: #fefefe;
        margin: 150px auto; 
    }

    

}

@media screen and (min-width: 798px) {
    

}