<mat-drawer-container class="nav-container" autosize (window:resize)="onResize($event)">
  <mat-drawer #drawerLeft [opened]="opened" class="sidenav" mode="side">
    <side-bar-table></side-bar-table>
    <side-bar-table></side-bar-table>
    <side-bar-table></side-bar-table>
  </mat-drawer>

  <div class="top-nav">
    <button type="button" mat-button (click)="drawerLeft.toggle()">
      Toggle sidenav
    </button>
  </div>
  <!-- here are sub components -->

  <chat></chat> 
  
</mat-drawer-container>


