mat-drawer{
    margin: 0;
    padding: 0;
}
.mat-drawer-container {
    background-color: #ffff;
}


.nav-container {
    position: fixed;
    top: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    /* width:100%; */
    /* height: 100%; */
    /* padding-right: 10px; */
    /* z-index: 1; */
  }
  
 .top-nav {
    /* position: fixed; */
    width: 100%;
    background-color:  rgba(80, 78, 78, 0.75);
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .inline{
      display: inline-block; 
  }
  .center{
    margin-top:6px;
    padding:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ffff;
  }

  .right-close {
        position: absolute;
        right:10px;
  }
  .fa-angle-double-left, .fa-align-justify, .fa-times-circle {
      font-size: 20px;
      color: #ffff;
  }
  
.sidenav {
    box-shadow: 10px 0 12px -4px  rgba(80, 78, 78, 0.75), -10px 0 8px -4px  rgba(80, 78, 78, 0.75);
    width:300px;
}

/* Structure */
.table-container {
    display: flex;
    flex-direction: column;
  }

.table-name {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0 16px;
    background-color: gray;
    color: white;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.table-header {
    min-height: 64px;
    padding: 8px 24px 0;
}
  
.mat-form-field {
    font-size: 14px;
    width: 90%;
}
  
.mat-table {
    overflow: auto;
    max-height: 300px;
}



@media only screen and (max-width: 798px) {
    .nav-container {
        top:100px;
    }
}

@media screen and (min-width: 798px) {
    
  

}