<mat-drawer-container class="nav-container" autosize (window:resize)="onResize($event)">
  <mat-drawer #drawerLeft [opened]="opened" class="sidenav" mode="side">
    <!-- <side-bar-table></side-bar-table>
    <side-bar-table></side-bar-table>
    <side-bar-table></side-bar-table> -->
    <side-bar-contents></side-bar-contents>
  </mat-drawer>

  <div class="top-nav">
    <button class="inline" *ngIf="drawerLeft._opened"  type="button" mat-button (click)="drawerLeft.toggle(); test(drawerLeft); ">
      <i class="inline" class="fas fa-angle-double-left" ></i>
    </button>
    <button *ngIf="!drawerLeft._opened" type="button" mat-button (click)="drawerLeft.toggle(); test(drawerLeft); ">
      <i class="fas fa-align-justify"></i>
    </button>
    <p class="inline center">{{roomTitle}}</p>
    <button  *ngIf="roomTitle" class="inline right-close" type="button" mat-button matTooltip="EXIT CHAT!" (click)="closeChat()">
      <i class="fas far fa-times-circle"></i>
    </button>
  </div>
  <!-- here are sub components -->

  <chat></chat> 
  
</mat-drawer-container>


