<mat-drawer-container class="nav-container" autosize (window:resize)="onResize($event)">
  <mat-drawer #drawerLeft [opened]="opened" class="sidenav" mode="side">
    <side-bar-table
      [data]="data"
      [columns]="displayedColumns"
      title="people"
      [filter]='false'
    ></side-bar-table>
  </mat-drawer>
  <mat-drawer #drawerRight  [opened]="opened" position="end" opened="true" class="sidenav" mode="side">  
  </mat-drawer>

  

  <div class="sidenav-content">
    <button type="button" mat-button (click)="drawerLeft.toggle()">
      Toggle sidenav
    </button>
    <button type="button" mat-button (click)="drawerRight.toggle()">
      Toggle sidenav
    </button>
  </div>
  <!-- here are sub components -->
  <div id="test">
      
  </div>
</mat-drawer-container>




