<nav>
    <mat-toolbar color="accent">
            <div id="nav-left">
                <a><i>blastwaver</i></a>
                <button mat-button class="responsive-line-one">Accent1</button>
                <button mat-button class="responsive-line-one">Accent2</button>
                <button mat-button class="responsive-line-one">Accent3</button>        
            </div> 
            <div id="nav-right">
                <div id="login-list">
                    <button mat-button *ngIf="loginState" >Profile</button>
                    <button mat-button *ngIf="loginState" (click)="auth.signOut()" >Logout</button>
                    <button mat-button *ngIf="!loginState"(click)="openModal()" >Sign In</button>
                    <button mat-button *ngIf="!loginState">Register</button>
                </div>
                <div class="mat-icon-wrapper"
                [matMenuTriggerFor]="menu" 
                mat-button id="nav-list"
                matTooltip="Menu" 
                matTooltipPosition="below"
                ><mat-icon>view_headline</mat-icon></div>
                <mat-menu #menu="matMenu">
                    <button *ngIf="loginState" mat-menu-item>Profile</button>
                    <button *ngIf="loginState" (click)="auth.signOut()" mat-menu-item>Logout</button>
                    <button *ngIf="!loginState" mat-menu-item (click)="openModal()">Sign in</button>
                    <button *ngIf="!loginState" mat-menu-item>Register</button>
                </mat-menu>
            </div> 
        </mat-toolbar>
        <mat-toolbar class="responsive-line-two " color="accent">      
            <button mat-button class="nav-button" >Accent1</button>
            <button mat-button class="nav-button">Accent2</button>
            <button mat-button class="nav-button">Accent3</button>   
          </mat-toolbar>
</nav>


<login-modal [(modal)]="modalOn" (notify)='closeModal($event)'></login-modal>

