<nav>
    <mat-toolbar color="accent">
        <div class="number-circle" *ngIf="loginState && newNotificationNumber > 0">{{newNotificationNumber}}</div>
        <div class="number-circle-second" *ngIf="loginState && newNotificationNumber > 0">{{newNotificationNumber}}</div>
        <div id="nav-left">
            <i routerLink="/main" matTooltip="KYEONGHO NA">blastwaver</i>
            <button routerLink="/home" mat-button class="responsive-line-one">Home</button>
            <button routerLink="/main" mat-button class="responsive-line-one">Projects</button>
            <button routerLink="/search" mat-button class="responsive-line-one">Search</button>        
        </div> 
        <div id="nav-right">
            <div id="login-list">
                <button mat-button *ngIf="loginState" matTooltip="Notification"  (click)="toggleNotification()"><i class="far fa-bell"></i></button>
                <button mat-button *ngIf="loginState" matTooltip="Profile" routerLink="/profile"><i class="far fa-user"></i></button>
                <button mat-button *ngIf="loginState"  matTooltip="Logout" (click)="auth.signOut()" ><i class="fas fa-sign-out-alt"></i></button>
                <button mat-button *ngIf="!loginState" matTooltip="Sign In" (click)="openModal()" ><i class="fas fa-sign-in-alt"></i> SIGN IN</button>
                <!-- <button mat-button *ngIf="!loginState">Register</button> -->
            </div>
            <div class="mat-icon-wrapper"
            #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu"  
            mat-button id="nav-list"
            matTooltip="Menu" 
            matTooltipPosition="below"
            ><i class="fas fa-list-ul"></i></div>
            <mat-menu #menu="matMenu">
                <!-- <div class=".number-circle-menu">1</div> -->
                <button *ngIf="loginState" mat-menu-item (click)="toggleNotification()"><i class="far fa-bell" ></i>
                     <span *ngIf="newNotificationNumber > 0">{{newNotificationNumber}}</span> Notification<span *ngIf="newNotificationNumber > 1">s</span></button>
                <button *ngIf="loginState" mat-menu-item routerLink="/profile"><i class="far fa-user"></i> Profile</button>
                <button *ngIf="loginState" (click)="auth.signOut()" mat-menu-item><i class="fas fa-sign-out-alt"></i> Logout</button>
                <button *ngIf="!loginState" mat-menu-item (click)="openModal()"><i class="fas fa-sign-in-alt"></i >Sign in</button>
                <!-- <button *ngIf="!loginState" mat-menu-item>Register</button> -->
            </mat-menu>
        </div> 
    </mat-toolbar>
    <mat-toolbar class="responsive-line-two " color="accent">      
        <button routerLink="/home" mat-button class="nav-button" >HOME</button>
        <button routerLink="/main" mat-button class="nav-button">PROJECTS</button>
        <button routerLink="/search" mat-button class="nav-button">SEARCH</button>   
    </mat-toolbar>
        
</nav>


<login-modal [(modal)]="modalOn" (notify)='closeModal($event)'></login-modal>

<notification *ngIf="notificationOn" (click)= "clickInsideOfNofication($event)"></notification>    