<div class="container">
  <div class="friends-container">
    <nav>Friends</nav>
    <ul>
      <li *ngFor="let friend of friends" (click)="chat(friend.chatRoom)">
        <div class="list-contents">
            <div class="list-contents" [matTooltip]="friend.username" >
              <img class="profile-image" [src]="friend.photoUrl" >
              <h6 class="username" >{{friend.username}}</h6>
            </div>
            <div class="list-contents" *ngIf="friend.connected" matTooltip="ON" [matTooltipPosition]="below">
              <i  class="fas fa-circle-notch icon" style="color: #ff4081"></i>
            </div>
            <div class="list-contents" *ngIf="!friend.connected" matTooltip="OFF" >
              <i  class="fas fa-circle-notch icon" style="color: #3f51b5"></i>
            </div>
            <div class="list-contents" matTooltip="PROFILE" >
              <i class="fas fa-address-card icon" ></i> 
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
