<div class="resume-container">
  <div class="row">
      <div class="grey half container center height-700 inline">
        <div class="padding-64">
          <h1>NAKY</h1>
        </div>
        <div class="padding-64">
            <a mat-raised-button class="black">HOME</a>
            <a mat-raised-button class="black">ABOUT ME</a>
            <a mat-raised-button class="black">PROJECTS</a>
            <a mat-raised-button class="black">RESUME</a>
            <a mat-raised-button class="black">CONTACT</a>
        </div>
      </div>
      <div class="dark-green half container center height-700 inline">
          <div class="padding-64">
            <h1>ABOUT ME</h1>
          </div>
          <img class="profile-img" src="http://www.naky.io/images/me.jpg" alt="">
          <div class="profile-text">
            <p>A Graduate of Sheridan College with 2 years of learning in programming languages, database, network, server and project management. An adaptable professional who specializes in Angular, JavaScript and .NET.</p>
          </div>
      </div>
  </div>
  <div class="row">  
      <div class="light-grey half container center height-700 inline">
        <div class="padding-64">
          <h1>PROJECTS</h1>
        </div>
        <div class="padding-64 ">
          <div class="half  height-120">
            <a routerLink='/home'>
              <img class="project-img" src="http://www.naky.io/images/naky.jpg">
            </a>
          </div>
          <div class="half black height-120 disapear">
            <h3>NAKY (Angular)</h3>
            <p>Studnents messaging service</p>
          </div>
          <div class="half black height-120 disapear">
              <h3>naky.blastwaver.net (Jquery)</h3>
              <p>Another resume home page</p>
          </div>
          <div class="half project-img-container height-120"><a target="_blank" href="http://naky.blastwaver.net"><img class="project-img" src="http://www.naky.io/images/blastwaver.jpg"></a></div>
          <div class="half project-img-container height-120 disapear" ><img class="project-img" src="http://www.naky.io/images/sheridan.jpg"></div>
          <div class="half black height-120 ">
              <h3>School Works (Javascript)</h3>
              <a target="_blank" href="http://projects.blastwaver.net/clock"><p class="inline text-hover">CLOCK, </p></a>
              <a target="_blank" href="http://projects.blastwaver.net/calculator"><p class="inline text-hover">CALCULATOR, </p></a>
              <a target="_blank" href="http://projects.blastwaver.net/ufo"><p class="inline text-hover">UFO, </p></a>
              <a target="_blank" href="http://projects.blastwaver.net/ball"><p class="inline text-hover">BALL</p></a>
          </div>
        </div>
      </div>
      <div class="blue half container center height-700 inline">
          <div style="padding-top:64px;">
            <h1>RESUME</h1> 
            <a href="http://www.naky.io/files/kyeongho_na.pdf" download style="color:#fff;"><i class="fas fa-download icon" style="font-size:24px;"></i></a>
          <div  style="text-align:left; margin-left:7%;">
            <h3 style="margin-top:3%">Indivisual Projects</h3>
            <p style="font-weight:550">http://www.naky.io </p>
            <p>A messaging service based on school projects.</p>
            <p style="font-weight:550">http://naky.blastwaver.net </p>
            <p>A responsive web profile page</p>
            <h3 style="margin-top:3%">Education</h3>
            <p> Sheridan College (Oakville, ON): Computer Programmer  <span style="margin-left:3%; font-style: italic;" >September 2015 - April 2017</span></p>
            <h3 style="margin-top:3%">Iternship</h3>
            <p>NETWOKO: React-native developer  <span style="margin-left:3%; font-style: italic;" >September2017 - October 2017</span></p>
            <h3>Ohter Information</h3>
            <p>Air Force (South Korea):  Technical Sergeant <span style="margin-left:3%; font-style: italic;" >5 years</span> </p>
          </div>
      </div>
  </div>
  <div class="row">  
      <div class="light-green half container center height-700 inline">
        <div class="padding-64">
          <h1>SWING BY</h1>
        </div>
        <div class="padding-64">
          <h3><i class="fas fa-phone-square"></i><a style="text-decoration:none; color:#fff; " href="tel:+16044410897"> +1 604 441 0897</a></h3>
          <h3><i class="fas fa-envelope"></i><a style="text-decoration:none; color:#fff;" href="mailto:blastwaver.k@gmail.com"> blastwaver.k@gmail.com</a></h3>
          <h3><i class="fas fa-comments"></i> Kakao Talk: blastwaver</h3>
          <div style="font-size: 32px">
            <a href="https://github.com/blastwaver" target="_blank"><i class="fab fa-github icon"></i></a>
            <a href="https://www.facebook.com/blastwav" target="_blank"><i class="fab fa-facebook-square icon"></i></a>
            <a href="https://www.linkedin.com/in/kyeongho-na-669338135/" target="_blank"><i class="fab fa-linkedin icon"></i></a>
          </div>
        </div>
        </div>
        <div class=" half container center height-700 inline">
          <div class="padding-64">
            <h1 >CONTACT</h1>
          </div>
          <form class="profile-form" [formGroup]="form" (ngSubmit)="submit($event)">
            <mat-form-field class="input-full-width">
                <input formControlName ="name" type="text" matInput placeholder="NAME">
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input formControlName ="email" type="email" matInput placeholder="EMAIL">
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input type="text" formControlName ="subject" matInput placeholder="SUBJECT">
            </mat-form-field>
            <mat-form-field class="input-full-width">
              <textarea matInput placeholder="COMMMENT" formControlName ="comment"  cols="30" rows="10"></textarea>
            </mat-form-field>
            <button mat-raised-button class="bottom-btn" color="primary"  >SUBMIT</button>
          </form>
      </div>
  </div>
  
</div>